.Loading {
  width: 100%;
  min-height: 100vh;
  min-width: 100vw;
  background: #222;
}

.loader-container {
  width: 200px;
  height: 200px;
  position: relative;
  top: 50vh;
  left: 50vw;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}

.loader-div {
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  border: 8px solid #162534;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border-top: 8px solid #09f;
  animation: rotate 3s infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
