.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.5rem;
  padding: 0.5rem;
  margin-left: auto;
  grid-auto-rows: minmax(100px, auto);
  min-height: 100vh;
  font-size: 20px;
  transition: 0.5s;
}

.blocks {
  display: inline-grid;
  justify-items: center;
  align-items: center;
  transition: 0.5s;
  padding: 1rem;
  text-align: center;
}

.blocks:first-child {
  grid-column: 1;
  grid-row: 1/3;
}

.blocks:last-child {
  grid-column: 4/6;
  grid-row: 2;
}

@media (max-width: 991px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.5rem;
    padding: 0.5rem;
    grid-auto-rows: minmax(auto, auto);
    min-height: calc(300vh - 1rem);
    transition: 0.5s;
  }
  .blocks {
    grid-column: unset !important;
    grid-row: unset !important;
    transition: 0.5s;
  }
  .image {
    width: 64px;
    transition: 0.5s;
  }

  .image-small {
    width: 30px;
    transition: 0.5s;
  }
  .image-graphics {
    width: 300px;
    transition: 0.5s;
  }
}

.image-small {
  width: 50px;
  transition: 0.5s;
}

.image-graphics {
  width: 30vw;
  transition: 0.5s;
}

.image {
  width: 128px;
  transition: 0.5s;
}
.button-custom {
  border: none;
  background-color: #3498db;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  transition: 0.5s;
}
